<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/theme_admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/theme_admin/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/static/theme_admin/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/theme_admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>
    tinymce.init({ selector: 'textarea' });
    </script>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Tasty</a>
            </div>
            <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="/admin/admin_signout"></i> Log Out <b class="caret"></b></a>
                   
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/doanhthu"><i class="fa fa-fw fa-bar-chart-o"></i> Doanh Thu</a>
                    </li>
                    <li>
                        <a href="/admin/header/1"><i class="fa fa-fw fa-table"></i> Header</a>
                    </li>
                    <li class="active">
                        <a href="/admin/slides"><i class="fa fa-fw fa-edit"></i> Slides</a>
                    </li>
                    <li>
                        <a href="/admin/monan"><i class="fa fa-fw fa-desktop"></i> Món Ăn</a>
                    </li>
                    <li>
                        <a href="/admin/chinhanh"><i class="fa fa-fw fa-wrench"></i> Chi Nhánh</a>
                    </li>
                    <li>
                        <a href="/admin/datban"><i class="fa fa-fw fa-table"></i> Đặt Bàn</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
		                            Edit Món Ăn
		                        </h1>
                        <ol class="breadcrumb">
                            <li class="fa fa-dashboard"><a href="/admin"> Dashboard</a></li>
                            <li class="fa fa-tasks"><a href="/admin/slides"> Slides</a></li>
                            <li class="active">
                                <i class="fa fa-wrench"></i> Edit Slides
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <%= typeof msg != 'undefined' ? msg : '' %>
                                       
                                        <div class="container">
                                            <div style="max-width: 650px; margin: auto;">
                                                <h1 class="page-header">Upload Form</h1>
                                                <p class="lead">Select a PNG or JPEG image, having maximum size <span id="max-size"></span> 1000KB.</p>
                                                <%= typeof msg != 'undefined' ? msg : '' %>
                                                 <form action="/admin/slides/taianh/<%= id %>" method="POST" enctype="multipart/form-data">
                                                     <input type="hidden" name="id" class="id" value="<%= id %>">
                                                 
                                                    <div class="form-group">
                                                        <input type="file" name="myImage">
                                                    </div>
                                                    <button class="btn btn-lg btn-primary" id="upload-button" type="submit" >Upload image</button>
                                                </form>
                                                <br>
                                                <div id="message"></div>
                                            </div>
                                        </div>
                                        <br>
                                        <img src="<%= typeof file != 'undefined' ? file : '' %>" alt="" class="responsive-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <script src="/static/theme_admin/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/theme_admin/js/bootstrap.min.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="/static/theme_admin/js/plugins/morris/raphael.min.js"></script>
        <script src="/static/theme_admin/js/plugins/morris/morris.min.js"></script>
        <script src="/static/theme_admin/js/plugins/morris/morris-data.js"></script>
</body>

</html>