<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<%- include ../layout/head %>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  	<script>tinymce.init({ selector:'textarea' });</script>
</head>
<body>
	<div class="container">
		<%- include ../layout/menu %>

		<div class="panel panel-default">
           <!--  <div class="panel-heading">
                Add new Post
            </div> -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <%= typeof msg != 'undefined' ? msg : '' %>
                             <form action="/admin/slides/themslides/themanh" method="POST" enctype="multipart/form-data">
                                <div class="file-field input-field">
                                  <div class="btn grey">
                                    <span>File</span>
                                    <input name="myImage" type="file">
                                  </div>
                                  <!-- <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                  </div> -->
                                </div>
                                <button type="submit" class="btn">Submit</button>
                             </form>
                             <br>
                        <img src="<%= typeof file != 'undefined' ? file : '' %>" alt="" class="responsive-img" width="200px" height="200px">
                
                    	<% if(data && data.error){%>
			            <div id="login-alert" class="alert alert-danger col-sm-12">
			               <%= data.error %> 
			            </div>
			            <%}%>

                        <form role="form" class="AVAST_PAM_nonloginform" method="POST" action="/admin/slides/themslides">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" name="title" placeholder="Title">         
                            </div>       
                            <div class="form-group">
                                <label>Content</label>
                                <textarea type="text" class="form-control" name="content" placeholder="Content"></textarea>        
                            </div>
                            <div class="form-group">
                                <label>Button'content</label>
                                <input type="text" class="form-control" name="button_content" placeholder="Button'content">         
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input type="hidden" class="form-control" name="image" value="<%= anhslides%>">         
                            </div> 
                                    
							<input type="submit" name="" value="Add" class="btn btn-warning">
                        </form>

                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
	</div> 
</body>
</html>